{{ define "body_classes" }}page-contact{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        <!-- Render content from contact.md (if any)-->
        <div class="content mt-4">{{.Content}}</div>
          <H2>Physical Address</H2>
          {{ partial "address.html" (dict "site" .Site "context" . "show_button" "false") }}
          <H2>Contact details</H2>
          {{ partial "call.html" (dict "site" .Site "context" . "show_button" "false") }}
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      {{ if and .Site.Params.enableGoogleMaps .Site.Params.googleMapsApiKey }}
      {{ if isset .Site.Params "latitude" }}
      {{ if isset .Site.Params "longitude" }}
      <H2>Directions</H2>
      <!-- Use .Site.Params.Latitude and .Site.Params.Longitude with https://developers.google.com/maps/documentation/embed/map-generator  -->
      <div style="width: 100%">
        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ $.Page.Site.Params.Latitude }},{{ $.Page.Site.Params.Longitude }}&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>

</div>

{{ end }}